#cep{
    background-color:antiquewhite;
}

body{
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(243deg, rgba(25, 13, 62, 0.00) 0%, #34093F 100%), linear-gradient(243deg, rgba(25, 13, 62, 0.70) 0%, rgba(52, 9, 63, 0.70) 100%), url(mapa.jpg) lightgray 50% / cover no-repeat;
}

.card{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 5.8px 0px rgba(0, 0, 0, 0.75);
    width: 542px;
    height: 680px;
    flex-shrink: 0;
}

button{
    font-weight: bold;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}